@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: bold;
    src: local('Oswald'), local('Oswald-Bold'), url('../fonts/Oswald/static/Oswald-Bold.ttf') format('truetype'),
         url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
  }

body {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.nunito_light {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    background-color: #ffffff;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.bigTitle {
    font-size: 5rem;
    font-weight: bolder;
    text-shadow: 4px 4px 40px #000000;
    color: #ffffff;
    margin: 0;
    margin-left: 2%;
    padding: 0;
}

.subTitle {
    font-size: 1rem;
    font-weight: bolder;
    text-shadow: 1px 2px 4px #000000;
    border: #000000;
    border-width: 2px;
    color: #ffffff;
    margin: 0;
    margin-left: 2%;
    padding: 0;
}

.navBarItems {
    color: #ffffff;
}
.navBarItems:hover {
    color: #945aea;
    transition: 0.1s;
}

.background-image {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    background-color: #330033;
}


.scale-up-hover {
    transform: scale(1);
    transition: 0.1s;

}

.scale-up-hover:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

.scale-up-hover-sm {
    transform: scale(1);
    transition: 0.1s;

}

.scale-up-hover-sm:hover {
    transform: scale(1.05);
    transition: 0.1s;
}

.text-shadow {
    text-shadow: 1px 1px 10px #000000;
}




/* Letter CSS */


.letter-image {
	position: relative;
	top: 10%;
	left: 50%;
	width: 200px;
	height: 200px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.animated-mail {
	position: absolute;
	height: 150px;
	width: 200px;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	
	.body {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 100px 200px;
		border-color: transparent transparent #e95f55 transparent;
		z-index: 2;
	}
	
    .top-fold {
        position: absolute;
        top: 50px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 100px 0 100px;
        -webkit-transform-origin: 50% 0%;
        -webkit-transition: transform .4s .4s, z-index .2s .4s;
        -moz-transform-origin: 50% 0%;
        -moz-transition: transform .4s .4s, z-index .2s .4s;
        transform-origin: 50% 0%;
        transition: transform .4s .4s, z-index .2s .4s;
        border-color: #cf4a43 transparent transparent transparent;
        z-index: 2;
    }

    .back-fold {
        position: absolute;
        bottom: 0;
        width: 200px;
        height: 100px;
        background: #cf4a43;
        z-index: 0;
    }

    .left-fold {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 50px 0 50px 100px;
        border-color: transparent transparent transparent #e15349;
        z-index: 2;
    }

.letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: .4s .2s;
    -moz-transition: .4s .2s;
    transition: .4s .2s;
    
    .letter-border {
        height: 10px;
        width: 100%;
    background: repeating-linear-gradient(
    -45deg,
    #cb5a5e,
    #cb5a5e 8px,
    transparent 8px,
    transparent 18px
    );
    }
    
    .letter-title {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 40%;
        background: #cb5a5e;
    }
    .letter-context {
        margin-top: 10px;
        margin-left: 5px;
        height: 10px;
        width: 20%;
        background: #cb5a5e;
    }
    
    .letter-stamp {
        margin-top: 30px;
        margin-left: 120px;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        background: #cb5a5e;
        opacity: 0.3;
    }
}
}

.shadow {
	position: absolute;
	top: 200px;
	left: 50%;
	width: 400px;
	height: 30px;
	transition: .4s;
	transform: translateX(-50%);
	-webkit-transition: .4s;
	-webkit-transform: translateX(-50%);
	-moz-transition: .4s;
	-moz-transform: translateX(-50%);
	
	border-radius: 100%;
	background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
}

.letter-image:hover {
    .animated-mail {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
    }
    
.animated-mail .top-fold {
    transition: transform .4s, z-index .2s;
    transform: rotateX(180deg);
    -webkit-transition: transform .4s, z-index .2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform .4s, z-index .2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
}

.animated-mail .letter {
    height: 180px;
}

.shadow {
    width: 250px;
}
}